body{
    background: rgb(123,44,191);
    margin: 0;
    position:relative;
    flex-direction: column;
}


@media(max-width:600px){
    body{
        font-size:16px;
        background-color: rgb(123,44,191);
        display: inline-block;
    }
    .ma-colonne{
        width:60%;
    }
}




nav{
    background-color:rgb(75,30,109);
    margin: 0%;
    padding: 10px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    border: 20px;
}


h1{
    font-family: "Comic Sans MS";
    font-style: italic;
}

.cc{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.moi{
    text-align: left;
    color: white;
    font-size: 2rem;

}

.nom{
    color: violet;

}

.mo{
    text-align: left;
    color: skyblue;
}

.btn-download{
    background-color: #6a0dad;
    color: white;
    padding: 2px 2px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-family: sans-serif;
}

.btn-download:hover{
    background-color: #5a0bb5;
}
.block{
    border: 2px dashed;
    border-radius: 4px;
   display: inline-block;
    padding: 10px 20px;
    color: violet
}

.avatar{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items:center;

}

img{
    opacity: 0.7;
    background-color: transparent;
}
.avatar img{
    width: 400px;
    height: auto;
    border-radius: 30px;
}

a{
    display: inline;
    justify-content: center;
    padding:10px 0;
    text-decoration: none;
    transition: 0.3s;
    color:white;
    border-radius: 5px;
}

a:hover{
    transform: scale(1.1SS);
    border-color: aliceblue;
    background-color: black;
}


 p{
    color: black;
    text-align: center;
    box-shadow:20%;
    border-radius: 10px;
    width: 50%;
 }


 .monblock{
    max-width: 3000px;
    margin: 50px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px rgba(0, 0, 0,0,2);
 }

h2{
    background-color: darkviolet;
    text-align: center;
}

#rs{
    background-color: violet;
    display: flex;
    gap: 100px;
    margin: 20px 0;
    align-items: center;
    justify-content: center;


    color: transparent;
}
#rs img{
    width:60px;
    height: auto;
    transition: transform 0.3s;

}


.hg{
   width: 50%;
  }


h3{
    color: white;
}

ul{
    color: black;
}

